body {
    background-image: url("images/background.jpg");
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 0%;
    touch-action: none;
    width: 100%;
    z-index: 0;
}

* {
    font-family: 'genshin';
    font-size: 2.5vh;
    overflow: hidden;
    transition: 0.1s all;
    text-align: center;
    top: 0;
}

button {
    border: none;
    background-color: lightgray;
    border-bottom: 0.5vh solid #28223d;
    color: black;
    transition: all .05s;
}

button:hover {
    background-color: rgb(183, 183, 183);
    cursor: pointer;
    transform: scale(1.015);
}

button:disabled {
    color: grey;
}

button:disabled:hover {
    background-color: lightgray;
    cursor: default;
    transform: scale(1);
}

h1 {
    font-size: 3.5vh;
    font-weight: lighter;
    text-align: left;
    margin-left: 4.5vh;
}

a {
    color: white;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: rgb(181, 171, 255);
    cursor: pointer;
}

#btnDiv {
    padding: 2vh 15vh;
    text-align: center;
    display: inline-block;
    text-align: center;
}

#randomizer {
    color: white;
    background-color: #16161F;
    transform: translateY(17.5vh);
    margin-left: 5%;
    margin-right: 5%;
}

img {
    margin-top: 6.4vh;
    width: 30%;
    left: 10.5vh;
    position: absolute;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#footer {
    background: transparent;
    color: transparent;
    margin: 0;
    border-style: none;
    height: 50vh;
}


@font-face {
    font-family: genshin;
    src: url(fonts/genshin.woff);
}